{% extends 'base.html' %}

{% block content %}
<a href="/">← Home</a>
<h1>New Event</h1>

<form method="POST">
    <p>
        <label>
            Event Title:
            <input type="text" name="title">
        </label>
    </p>
    <p>
        <label>
            Event Description: <br>
            <textarea name="description"></textarea>
        </label>
    </p>
    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}
    <p>
        
        <label>
            Date and Time: <br>
            <input type="date" name="date" placeholder="Date format YYYY-mm-dd">
            <input type="time" name="time" placeholder="Time format HH:MM">
        </label>
    </p>
    <p>
        <label>
            Event Type: <br>
            <select name="event_type" id="">
                <option value="STUDY">Study</option>
                <option value="PARTY">Party</option>
                <option value="NETWORKING">Networking</option>
                <option value="MISC">Other</option>
            </select>
        </label>
    </p>
    <p>
        <input type="submit" name="submit" value="Add">
    </p>
</form>

{% endblock %}