{% extends 'base.html' %}

{% block content %}
<a href="/">← Home</a>
<h1>Edit {{ event.title }} </h1>

<form method="POST">
    <p>
        <label>
            Event Title:
            <input type="text" name="title" value="{{event.title}}">
        </label>
    </p>
    <p>
        <label>
            Event Description: <br>
            <textarea name="description">{{ event.description }}</textarea>
        </label>
    </p>
    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}
    <p>
        
        <label>
            Date and Time: <br>
            <input type="date" name="date" placeholder="{{ event.date_and_time.strftime('%Y-%m-%d') }}" value="{{ event.date_and_time.strftime('%Y-%m-%d') }}">
            <input type="time" name="time" placeholder="Time format HH:MM" value="{{ event.date_and_time.strftime('%H:%M') }}">
        </label>
    </p>
    <!-- <p>
        
        <label>
            Event Type: <br>
            <select name="event_type" id="">
                <option value="STUDY">Study</option>
                <option value="PARTY">Party</option>
                <option value="NETWORKING">Networking</option>
                <option value="MISC">Other</option>
            </select>
        </label>
    </p> -->
    <p>
        <input type="submit" name="submit" value="Add">
    </p>
</form>

{% endblock %}